.title1 {
	height: 60px;
	width: 1000px;
	background-color: #0099FF;
}
.title_left {
	font-family: "ו";
	font-size: 24px;
	font-style: normal;
	line-height: 60px;
	color: #000000;
	margin-left: 30px;
	height: 60px;
	width: 300px;
	float: left;
}
.title_right {
	background-color: #F0F0F0;
	float: right;
	height: 60px;
	width: 200px;
	line-height: 60px;
}
.menu_list {
	font-family: "ו";
	font-size: 13px;
	font-style: normal;
	line-height: 30px;
	background-color: #666666;
	height: 30px;
	width: 1000px;
}
.image {
	background-color: #FFFFFF;
	width: 1000px;
}
.content_main {
	background-color: #333333;
	height: 300px;
	width: 1000px;
}
.split {
	background-color: #FFFFFF;
	height: 60px;
	width: 1000px;
}
.root {
	background-color: #CCCCCC;
	height: 60px;
	width: 1000px;
}
